<h1>New User Registration</h1>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
              <h4>Create Account</h4>
              <%= form_for @user do |f| %>

              <%= f.label :username %>
              <%= f.text_field :username %>

                <br>
              <%= f.label :password %>
              <%= f.password_field :password %>
              <br><br>
              Confirmation: <%= f.password_field :password_confirmation %>
               <br><br>
               <div class="wrapper">
               <span class="group-btn">
              <%= f.submit "Create Account" %>
              <% end %>
            </span>
            </div>
            </div>
          </div>
          </div>
          </div>
