




       <header style="background-color:#378cba;margin-bottom: 0px;" class="navbar navbar-static-top" id="top" role="banner">
         <div class="ideas_title_container">
           Your Idea Box Ideas
         </div>

       </header>

       <div id="content">
         <div style="background-color:whitesmoke;height:150px" class="container">
           <%= link_to "Add a New Idea", new_user_idea_path(@user) %><br>
           <%= link_to "See Image Listing", images_path %>

           <br><br>
           <% if current_user.role == "admin" %>
           Admin Privelages

                  <li><%= link_to "Category List", admin_categories_path %></li>
                  <li><%= link_to "Images List", admin_images_path %></li>
                  <% end %>
         </div>
       </div>

       <div class="ideas_container">
         <div class="row">
           <div style="background-repeat: no-repeat; height: 500px; background-image: url(http://electricsaver1200.com/blog/wp-content/uploads/2013/11/Idea_images.png)" class="col-md-9" role="main">
             <p> <% @user.ideas.each do |idea| %>
               <%= link_to idea.title, user_idea_path(@user, idea) %> <br>
               <%= idea.description %><br><br>
               <% end %>
             </p>
           </div>
         </div>
       </div>
